/* Import the Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* Apply the Roboto font to the entire page */
body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    max-width: 60%;
    min-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.bigboytext{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;

}

.container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

h1, h2, h4 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.solidtop {
    border: 1px solid black;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.solid {
    border: 1px solid black;
    margin: 0;
    
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 60px;
}

.text-content {
    background-color: whitesmoke;
    max-width: 540px;
    padding: 20px;
    border-radius: 2em;
    margin-top: 3rem;
    margin-bottom: auto;
}

.text-content p {
    line-height: 1.6;
}

.text-content p:first-child {
    font-weight: bold;
}

.text-content small {
    color: gray;
}

.small-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-images img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}

.center {
    text-align: center;
}

/* Spacer class for custom spacing */
.spacer {
    height: 20px; /* Adjust this value for vertical space */
    width: 20px;  /* Adjust this value for horizontal space */
}

/* Second section styles */
.content-reverse {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.content-reverse img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 8px;
}

.small-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-images img {
    width: 200px;
    height: auto;
    border-radius: 20px;
}

/* Final section styles */
.final-section {
    text-align: center;
    margin-top: 50px;
}
.final-section h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
.final-section ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif; /* Also apply Roboto to list items */
}
.final-section ul li {
    font-family: 'Roboto', sans-serif; /* Also apply Roboto to list items */
}

/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 05px solid rgb(185, 185, 185);
}

.header-left h1 {
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Styles for language toggle button */
.header-right button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #666;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.header-right button:hover {
    background-color: #777;
}

/* Footer styling */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid black;
}

.footer p {
    margin: 0;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); }


/* Dark Mode styling */
.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode .header, .dark-mode .footer {
    background-color: #222;
    border-color: #555;
}

.dark-mode .header-right button {
    background-color: #555;
}

.dark-mode .header-right button:hover {
    background-color: #666;
}


.dark-mode h4, 
.dark-mode h2, 
.dark-mode h1{
    color: white;
}

.dark-mode .white{
    color: white;
}

.whiteurl{
    color: black;
}
.dark-mode .whiteurl{
    color: white;
}

.dark-mode .text-content {
background-color: #555;
}

.dark-mode .bigboytext{
    background-color: #444;
}

.dark-mode .container {
    background-color: #444;
}

.dark-mode .solidtop,
.dark-mode .solid{
    border: 1px solid white;
}